section{
  padding: 5rem 5rem;

}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  color: white;
  background: #70259B;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);  
  padding: 20px 80px;
  height: 50px;
}

.brand-logo{
  width: 100px;
  height: 30.77px;
}

.nav-section a{
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.bot-btn{
  background-color: white;
  color: #70259B;
}

.landing-page{
  color: white;
  background: url('/Hero\ Image.png'), lightgray 50% / cover no-repeat;
  height: 600px;
  flex-shrink: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-description{
  padding-top: 17em;
}

.landing-page h1{
  height: 5rem;
  font-size: 3rem;
  margin-top: 0 ;
  margin-bottom: 0;
}

.landing-page p{
  width: 35rem;
  font-size: 1.25rem;
}

.project-link-btn{
  background-color: #70259B;
  color: white;
}

.btn-primary{
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
}

.section-header{
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.horizontal-bar{
  height: 4px;
  width: 40px;
  background: #D100C9;
  display: inline-block;
  text-align: center;
  align-self: center;
}

.section-header h3{
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.services-section h1, .clients-section h1, .contact-section h1{
  font-size: 3rem;
}

.services-carousel{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-top: 3.375rem;
}

.services-carousel-item h5{
  font-size: 1.5rem;
}

.services-carousel-item p{
  font-size: 1.25rem;
}

.case-studies-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 4rem;
  height: 35rem;
}

.case-studies-carousel-item{
  background: lightgray 50% / cover no-repeat;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  width:28rem;
  height: 30rem;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(54, 54, 54, 0.10);
}

a{
  text-decoration: none;
  color: white;
}

.case-studies-card{
  position: relative;
  top: 65%;
  bottom: 0;
}

.case-studies-card h4{
  font-size: 2rem;
  margin: 0%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.case-studies-card P{
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.contact-section{
  background-color: #70259B;
  color: white;
  font-size: 1.25rem;
}

h1 span {
  display: block;
}

.reference-list{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.brand-carousel{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 3rem;
}

.brand-icon{
  align-items: center;
  text-align: center;
}
 .brand-icon img{
  width: 50%;
  height: auto;
 }
